Repository Citadel-Station-13/Citadel-Station-13-RP, pull requests merged in 2021-12, with the labels that each got.

#3598 Moves docking arm to D2 below cargo+ useful customs and shop
  _maps/map_files/tether/tether-05-station1.dmm
  _maps/map_files/tether/tether-06-station2.dmm
  maps/tether/tether_defines.dm
  maps/tether/tether_shuttle_defs.dm
Labels: Map Edit

#3603 Turns the hastily maintified area into a large construction zone
  _maps/map_files/tether/tether-05-station1.dmm
Labels: Currently Testmerged, Map Edit

#3610 fixes linter
  _maps/templates/shuttles/placeholder_file
  tgui/packages/tgui/interfaces/common/PLACEHOLDER_FILE_DELETE_WHEN_FOLDER_USED
Labels: UI

#3605 woops my circuit broadcasted a textwall of whisper "!" antighost exploit ERP /again/ (fixes circuits thinking audible emotes are a foreign language)
  code/modules/integrated_electronics/subtypes/input.dm
Labels: Currently Testmerged

#3604 fixes omni translators
  code/game/objects/items/devices/translator.dm
Labels: Currently Testmerged

#3597 Various minor Cargo tweaks + removal of secondary explo / cargo staircase
  _maps/map_files/tether/tether-06-station2.dmm
  maps/tether/tether_areas.dm
Labels: Currently Testmerged, Map Edit

#3619 Update Triumph SME Engine Submap.
  _maps/templates/engines/triumph/triumph_engine_sme.dmm
Labels: Removal, Map Edit

#3620 Triumph map fixes, changes, and button smashing
  _maps/templates/shuttles/overmaps/generic/cruiser.dmm
  code/game/machinery/atmoalter/scrubber.dm
  code/game/machinery/vending.dm
  code/modules/reagents/reagent_containers/pill_vr.dm
  maps/tether/tether_things.dm
Labels: Map Edit

#3615 sizeguns, trampling, and pickups (when >= 75% scale) are now all preferences
  code/game/objects/items/weapons/implants/implant.dm
  code/modules/projectiles/guns/energy/sizegun_vr.dm
  code/modules/vore/eating/living_vr.dm
  code/modules/vore/eating/vore_vr.dm
  code/modules/vore/eating/vorepanel_vr.dm
  code/modules/vore/resizing/resize_vr.dm
Labels: Feature

#3621 Adds Talon to Triumph, removes a fair amount of Talon's guns, removes weird junk I left around triumph
  _maps/map_files/triumph/triumph-01-deck1.dmm
  _maps/map_files/triumph/triumph-02-deck2.dmm
  _maps/map_files/triumph/triumph-03-deck3.dmm
  _maps/map_files/triumph/triumph-04-deck4.dmm
  _maps/map_files/triumph/triumph-05-flagship.dmm
  _maps/map_files/triumph/triumph_misc.dmm
  _maps/map_files/triumph/triumph_ships.dmm
  _maps/map_levels/140x140/lavaland.dmm
  _maps/map_levels/140x140/talon/talon1.dmm
  _maps/map_levels/140x140/talon/talon2.dmm
  _maps/templates/shuttles/overmaps/generic/cruiser.dmm
  _maps/triumph.dm
  _maps/triumph.json
  code/controllers/subsystems/shuttles.dm
  code/game/machinery/atmoalter/scrubber.dm
  code/game/machinery/embedded_controller/airlock_docking_controller.dm
  code/game/machinery/embedded_controller/docking_program.dm
  code/game/machinery/vending.dm
  code/game/objects/effects/step_triggers.dm
  code/modules/maps/talon/talon_jobs.dm
  code/modules/maps/tether/lateload.dm
  code/modules/overmap/overmap_shuttle.dm
  code/modules/overmap/ships/engines/gas_thruster.dm
  code/modules/overmap/ships/engines/ion_thruster.dm
  code/modules/reagents/reagent_containers/pill_vr.dm
  maps/nsv_triumph/submaps/_triumph_submaps.dm
  maps/nsv_triumph/talon_jobs.dm
  maps/nsv_triumph/triumph.dm
  maps/nsv_triumph/triumph_defines.dm
  maps/nsv_triumph/triumph_overmap.dm
  maps/nsv_triumph/triumph_shuttle_defs.dm
  maps/nsv_triumph/triumph_shuttles.dm
  maps/nsv_triumph/triumph_turfs.dm
  maps/tether/talon_jobs.dm
  maps/tether/tether.dm
  maps/tether/tether_things.dm
  vorestation.dme
Labels: Removal, Map Edit

#3624 Correct branch
  _maps/map_files/triumph/triumph-03-deck3.dmm
  _maps/map_files/triumph/triumph-04-deck4.dmm
  _maps/map_files/triumph/triumph-05-flagship.dmm
  _maps/map_levels/140x140/talon/talon1.dmm
  _maps/map_levels/140x140/talon/talon2.dmm
  code/modules/maps/talon/talon_jobs.dm
  maps/nsv_triumph/submaps/_triumph_submaps.dm
  maps/nsv_triumph/talon_jobs.dm
  maps/nsv_triumph/triumph.dm
  maps/nsv_triumph/triumph_defines.dm
  maps/nsv_triumph/triumph_overmap.dm
  maps/nsv_triumph/triumph_shuttle_defs.dm
  maps/nsv_triumph/triumph_shuttles.dm
  maps/tether/talon_jobs.dm
  maps/tether/tether.dm
Labels: Map Edit

#3622 Adds "Moth Eyes" body marking
  code/modules/mob/new_player/sprite_accessories.dm
  icons/mob/human_races/markings_vr.dmi
Labels: Feature, Sprites

#3614 Turf based temperature change in HE pipes
  code/game/turfs/simulated.dm
  code/game/turfs/simulated/lava.dm
  code/modules/atmospherics/datum_pipeline.dm
  code/modules/atmospherics/pipes/he_pipes.dm
  code/modules/atmospherics/zas/variable_settings.dm
Labels: Test Merge Candidate, Feature, Code Improvement, Administration

#3627 Testmerge hotfix, docking port runtime fix, mapseeding fix
  _maps/map_files/triumph/triumph-02-deck2.dmm
  _maps/map_files/triumph/triumph-03-deck3.dmm
  _maps/map_files/triumph/triumph-05-flagship.dmm
  _maps/map_files/triumph/triumph_misc.dmm
  _maps/map_files/triumph/triumph_ships.dmm
  maps/nsv_triumph/triumph_defines.dm
Labels: Map Edit

#3633 shadekin verb fix
  code/modules/mob/living/carbon/human/species/shadekin/shadekin.dm
Labels: Fix

#3637 Update scanner.dm
  code/modules/detectivework/tools/scanner.dm
Labels: FUCK

#3639 unhugboxes fission reactor explosions
  code/modules/power/fission/engine.dm
Labels: Balance/Rebalance
